<a href="https://colab.research.google.com/github/vi0rend/AVD-Alvionej-Resna/blob/main/Praktikum_AVD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
file_path = "/content/topuniversities.csv"

df = pd.read_csv(file_path)
df

,Rank,Ordinal Rank,University Name,Overall Score,City,Country,Citations per Paper,Papers per Faculty,Academic Reputation,Faculty Student Ratio,Staff with PhD,International Research Center,International Students,Outbound Exchange,Inbound Exchange,International Faculty,Employer Reputation
0,1,1,Peking University,100.0,Beijing,China,96.4,79.8,100.0,98.6,90.7,98.0,69.1,100.0,88.5,83.2,100.0
1,2,2,The University of Hong Kong,99.7,Pokfulam,Hong Kong,99.5,55.0,100.0,93.3,97.4,98.4,100.0,100.0,99.8,100.0,96.8
2,3,3,National University of Singapore (NUS),98.9,Singapore,Singapore,99.9,57.4,100.0,85.8,82.5,99.9,99.2,97.6,93.4,100.0,99.9
3,4,4,Nanyang Technological University,98.3,Singapore,Singapore,100.0,53.8,100.0,93.0,67.0,99.7,98.8,97.9,90.5,100.0,98.8
4,5,5,Fudan University,97.2,Shanghai,China,92.1,63.1,99.8,92.5,73.4,92.1,81.0,94.9,99.5,98.9,99.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,296,296,National Chinyi University of Technology,29.5,Taichung City,Taiwan,25.8,15.9,31.9,12.9,52.1,11.5,29.8,3.4,17.2,5.1,46.7
296,297,296,Sungshin Women's University,29.5,Seoul,South Korea,9.1,2.1,21.4,93.0,18.6,2.5,22.5,85.5,44.6,7.7,33.9
297,298,298,Northwest University (China),29.2,Xi'an,China,64.5,27.4,16.1,69.5,17.5,49.7,13.3,47.9,6.1,10.6,5.3
298,299,299,Ocean University of China,29.1,Qingdao,China,48.1,60.5,20.8,13.9,33.0,76.4,6.5,27.3,2.8,8.5,12.4
299,300,300,Huazhong Agricultural University,29.0,Wuhan,China,91.5,52.2,16.7,12.1,61.0,45.6,6.6,11.5,1.5,11.7,9.3

In [7]:
output_path ="/content/topuniversities.csv"
df.to_csv(output_path, index=False)

print("\nData berhasil disimpan sebagai file Excel:", output_path)

Data berhasil disimpan sebagai file Excel: /content/topuniversities.csv

# **BUSINESS UNDERSTANDING**

**Business Objective**

Tujuan utama dari proyek ini adalah untuk memahami faktor-faktor yang berkontribusi terhadap peringkat universitas di Asia berdasarkan QS Rankings 2024. Dengan menganalisis berbagai metrik seperti reputasi akademik, rasio fakultas terhadap mahasiswa, penelitian internasional, dan jumlah mahasiswa internasional, proyek ini bertujuan untuk mengidentifikasi pola yang memungkinkan universitas meningkatkan daya saing mereka. Selain itu, proyek ini juga bertujuan untuk memberikan wawasan bagi calon mahasiswa dan pemangku kepentingan dalam memilih institusi pendidikan terbaik.

**Assess Situation**

Industri pendidikan tinggi di Asia semakin kompetitif dengan banyak universitas yang berupaya meningkatkan kualitas akademik dan penelitian mereka. Perubahan dalam kebijakan pendidikan, tingkat internasionalisasi, serta reputasi akademik dan kerja turut memengaruhi peringkat universitas. Oleh karena itu, analisis mendalam terhadap data peringkat universitas menjadi penting untuk mengidentifikasi tren dan faktor yang memengaruhi daya saing institusi pendidikan.

**Data Mining Goals**

Menganalisis faktor-faktor utama yang memengaruhi peringkat universitas di Asia dengan mengidentifikasi hubungan antara berbagai metrik seperti reputasi akademik, jumlah sitasi per publikasi, jumlah mahasiswa internasional, serta tingkat pertukaran mahasiswa. Analisis ini juga bertujuan untuk memberikan wawasan tentang bagaimana universitas dapat meningkatkan kualitas akademik dan reputasi mereka dalam skala global.

**Project Plan**

Proyek ini dimulai dengan mengumpulkan dan membersihkan data dari QS Asian Rankings 2024. Data yang dikumpulkan mencakup indikator seperti reputasi akademik, jumlah sitasi per publikasi, rasio fakultas terhadap mahasiswa, dan jumlah mahasiswa internasional. Pembersihan data dilakukan untuk memastikan akurasi dan menghilangkan anomali.

Setelah itu, dilakukan analisis statistik untuk menemukan pola dan hubungan antara faktor-faktor yang memengaruhi peringkat universitas. Hasilnya akan disajikan dalam bentuk laporan dan visualisasi agar mudah dipahami oleh pemangku kepentingan. Proyek ini diakhiri dengan rekomendasi bagi universitas yang ingin meningkatkan daya saing mereka di tingkat internasional.